@use "../../theme.scss" as *;

.Header {
    background-color: $colorBgSecondary;
  
  
  &-Inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin: 0 auto;

    @media screen and ($tablet) {
        padding: 0 32px;
        max-width: 930px;
    }

    @media screen and ($desktop) {
        padding: 0;
    }

    @media screen and ($desktopLarge) {
        max-width: 1280px;
    }

  }
  
  &-Hamburger {
    display: block;
    width: 32px;
    height: 32px;

    @media screen and ($desktop) {
        display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-Nav .active{
    color: $colorPrimary;
  }
  
  &-Nav {
    display: none;

    @media screen and ($desktop) {
        display: block;
    }
  }
  
  &-LogoImg path {
    fill: $colorPrimary;
  }

  &-Link {
    margin-right: 32px;
    line-height: 80px;
    transition: color 0.3s ease-out;
  }
  
  &-Link:hover {
    color: $colorPrimary;
  }

}